canvas(id="myChart" width="400" height="200")
script(src='https://cdn.jsdelivr.net/momentjs/2.18.1/moment.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
script(src='/js/happiness-chart.js')
