extends layout

block content
  h1 Keep track of what matters
  if user.profile.phone
    p.lead Send a message to #{process.env.TWILIO_NUMBER} with a happiness level from 1 to 10
  if !user.profile.phone
    p.lead.warn Please add your phone number to your 
      a(href='/account') profile
  hr
  h2 Happiness
  include partials/happiness-chart
