extends layout

block content
  h1 Keep track of what matters
  p.lead Measure your happiness over time
  hr
  h2 Happiness
  p A chart of your happiness will go here
  hr
  h2 Settings
  p Text message settings will go here
